body{
  margin: 0;
  padding: 0;
  background-color: #2D3047;
  height: 100vh;
  position: relative;
}

.app{
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  top: 50%;
}

.button-area{
  position: relative;
  width: 200px;
  margin: auto;
  height: 66px;
}

.button-area .btn{
  width: 200px;
  height: 66px;
  background-color: crimson;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;

  -moz-box-shadow: 0 15px 40px rgba(255, 0, 131, 0.5);
  -webkit-box-shadow: 0 15px 40px rgba(255, 0, 131, 0.5);
  box-shadow: 0 15px 40px rgba(255, 0, 131, 0.5);
}

.button-area .btn:hover{
 background-color: rgb(250, 4, 53);
 -moz-box-shadow: 0 15px 40px rgba(255, 0, 132, 0.580);
  -webkit-box-shadow: 0 15px 40px rgba(255, 0, 132, 0.580);
  box-shadow: 0 15px 40px rgba(255, 0, 132, 0.580);
}

.button-area .btn:active{
  transform: scale(0.9);
 }

 .button-area .particles-circle{
   position: absolute;
   background-color: crimson;
   width: 45px;
   height: 45px;
   top: 10px;
   left: 50%;
   margin-left: -15px;
   border-radius: 50%;
   z-index: -1;
   visibility: hidden;
  }

  @keyframes particles-1{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -2px;
      top: 215px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(1){
    animation: particles-1 1.5s 0.025s;
  }

  @keyframes particles-2{
    from{
      transform: scale(1);
      visibility: visible;
    }
    to{
      left: 215px;
      top: 248px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(2){
    animation: particles-2 1.5s 0.05s;
  }

  @keyframes particles-3{
    from{
      transform: scale(1);
      visibility: visible;
    }
    to{
      left: -200px;
      top: -112px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(3){
    animation: particles-3 1.5s 0.075s;
  }

  @keyframes particles-4{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 315px;
      top: 248px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(4){
    animation: particles-4 1.5s 0.1s;
  }

  @keyframes particles-5{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 112px;
      top: -63px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(5){
    animation: particles-5 1.5s 0.125s;
  }

  @keyframes particles-6{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 10px;
      top: -78px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(6){
    animation: particles-6 1.5s 0.15s;
  }

  @keyframes particles-7{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 35px;
      top: 73px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(7){
    animation: particles-7 1.5s 0.05s;
  }

  @keyframes particles-8{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -30px;
      top: -92px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(8){
    animation: particles-8 1.5s 0.2s;
  }

  @keyframes particles-9{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -200px;
      top: 187px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(9){
    animation: particles-9 1.5s 0.225s;
  }

  @keyframes particles-10{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 88px;
      top: 115px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(10){
    animation: particles-10 1.5s 0.25s;
  }

  @keyframes particles-11{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -129px;
      top: 178px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(11){
    animation: particles-11 1.5s 0.275s;
  }

  @keyframes particles-9{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -200px;
      top: 187px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(9){
    animation: particles-9 1.5s 0.225s;
  }

  @keyframes particles-12{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 187px;
      top: 45px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(12){
    animation: particles-12 1.5s 0.3s;
  }

  @keyframes particles-13{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -46px;
      top: 77px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(13){
    animation: particles-13 1.5s 0.325s;
  }

  @keyframes particles-14{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 92px;
      top: 142px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(14){
    animation: particles-14 1.5s 0.35s;
  }

  @keyframes particles-15{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -121px;
      top: -20px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(15){
    animation: particles-15 1.5s 0.375s;
  }

  @keyframes particles-16{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 216px;
      top: -12px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(16){
    animation: particles-16 1.5s 0.4s;
  }

  @keyframes particles-17{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -169px;
      top: -202px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(17){
    animation: particles-17 1.5s 0.425s;
  }

  @keyframes particles-18{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -179px;
      top: -208px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(18){
    animation: particles-18 1.5s 0.75s;
  }

  @keyframes particles-19{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 309px;
      top: -202px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(19){
    animation: particles-19 1.5s 0.2s;
  }

  @keyframes particles-20{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 309px;
      top: -202px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(20){
    animation: particles-20 1.5s 0.2s;
  }

  @keyframes particles-21{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 19px;
      top: -128px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(21){
    animation: particles-21 1.5s 0.525s;
  }

  @keyframes particles-22{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -194px;
      top: -152px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(22){
    animation: particles-22 1.5s 0.55s;
  }

  @keyframes particles-23{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -79px;
      top: 219px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(23){
    animation: particles-23 1.5s 0.575s;
  }

  @keyframes particles-24{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 174px;
      top: -99px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(24){
    animation: particles-24 1.5s 0.6s;
  }

  @keyframes particles-25{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 45px;
      top: 98px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(25){
    animation: particles-25 1.5s 0.625s;
  }

  @keyframes particles-26{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -83px;
      top: 155px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(26){
    animation: particles-26 1.5s 0.65s;
  }

  @keyframes particles-27{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -247px;
      top: 175px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(27){
    animation: particles-27 1.5s 0.675s;
  }

  @keyframes particles-28{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 99px;
      top: 30px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(28){
    animation: particles-28 1.5s 0.7s;
  }

  @keyframes particles-29{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 155px;
      top: -32px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(29){
    animation: particles-29 1.5s 0.725s;
  }

  @keyframes particles-30{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -72px;
      top: -95px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(30){
    animation: particles-30 1.5s 0.75s;
  }

  @keyframes particles-31{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 131px;
      top: -165px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(31){
    animation: particles-31 1.5s 0.775s;
  }

  @keyframes particles-32{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -103px;
      top: 91px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(32){
    animation: particles-32 1.5s 0.8s;
  }

  @keyframes particles-33{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: 226px;
      top: -170px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(33){
    animation: particles-33 1.5s 0.825s;
  }

  @keyframes particles-34{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -185px;
      top: -179px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(34){
    animation: particles-34 1.5s 0.85s;
  }

  @keyframes particles-35{
    from{
      visibility: visible;
      transform: scale(1);
    }
    to{
      left: -203px;
      top: -183px;
      transform: scale(0);
      visibility: hidden;
    }
  }

  .active .button-area .particles-circle:nth-of-type(35){
    animation: particles-35 1.5s 0.875s;
  }

  .button-area .particles-circle:nth-of-type(odd){
    background-color: transparent;
    border: solid 4px crimson;
  }

  .footer{
    position: absolute;
    margin-top: 520px;
    margin-left: 25%;
}

.copyright{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.copyright a{
    color: #ff105e;
    
}










  